* {
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: #A8D2A0;
}

header {
  background-color: #F5F5F5;
  max-height: 100%;
  max-width: 100%;
  padding: 40px;
  text-align: center;
  align-items: center;
}

#esquerda-dashboard {
  background-color: #2D3B62;
}

main {
  background-color: #A8D2A0;
  padding: 20px;
}

#direita-dashboard {
  background-color: #A0B7D2;
}

footer {
  background-color: #F5F5F5;
  padding: 20px;
  text-align: center;
}