* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #A8D2A0;
}

header {
  background-color: #F5F5F5;
  padding: 40px;
  text-align: center;
}

.logo {
  max-width: 100%;
  height: auto;
}

#esquerda-dashboard {
  background-color: #2D3B62;
  padding: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu a {
  color: #FFF;
  text-decoration: none;
  padding: 8px 16px;
}

main {
  background-color: #A8D2A0;
  padding: 20px;
}

#texto-central {
  text-align: center;
  margin-bottom: 20px;
}

#solicitacoes, #duvidas {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

#direita-dashboard {
  background-color: #A0B7D2;
  padding: 20px;
}

footer {
  background-color: #F5F5F5;
  padding: 20px;
  text-align: center;
}
